<%= form_for(@dagr) do |f| %>
  <% if @dagr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dagr.errors.count, "error") %> prohibited this dagr from being saved:</h2>

      <ul>
      <% @dagr.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <h1>Add keywords (comma-delimited)</h1><br />
    <%= text_field_tag 'keywords' %>
  </div>  

  <div class="field">
    <h1>Attach DAGR</h1><br />
    <%= text_field_tag 'url' %>
  </div> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
