<p id="notice"><%= notice %></p>

<p>
  <b>Guid:</b>
  <%= @dagr.guid %>
</p>

<p>
  <b>Name:</b>
  <%= @dagr.name %>
</p>

<%= link_to 'Edit', edit_dagr_path(@dagr) %> |
<%= link_to 'Back', dagrs_path %>
