<div class="panel panel-primary">
	<div class = "panel-heading other">
		<h1 class = "panel-title">Reach Query</h1>
	</div>
	<div class = "panel-body">
	<div class="input-daterange" id="datepicker">
	<form accept-charset="UTF-8" action = "reachquery"method = "get">
    <select class="btn dropdown-toggle selectpicker btn-default" name = "selecteddagr">
    <option selected="true" disabled="true" >Select a DAGR</option>
    <optgroup label="DAGR">
    <% @dagrslist.each do |dagr| %>
      <option><%= dagr.dagr_guid %></option>
    <% end %>
    </optgroup>
    <optgroup label="Mediafile">
    <% @mediafileslist.each do |m| %>
      <option><%= m.media_guid %></option>
    <% end %>
    </optgroup>
  </select>
      <input name = "commit" type = "submit" value = "Query!" class = "btn btn-warning" id = "querybutton">
      </form>

</div>
	<h3>Query Results</h3>
	<h4>Dagrs</h4>
	<table class = "table table-striped">
	  <tr>
		<th>Guid</th>
		<th>Name</th>
		<th>Creation Time</th>
		<th>Deletion Time</th>
		<th>Has Components</th>
		<th>Deleted</th>
	  </tr>

	<% @dagrs.each do |dagr| %>
	  <tr>
		<td><%= dagr.dagr_guid %> </td>
		<td><%= dagr.name %> </td>
		<td><%= dagr.dagrcreationtime %> </td>
		<td><%= dagr.dagrdeletiontime %> </td>
		<td><%= dagr.has_components %> </td>
		<td><%= dagr.deleted %> </td>
	  </tr>
	<% end %>
	</table>
	<h4>Mediafiles</h4>
	<table class = "table table-striped">
	  <tr>
		<th>Dagr Guid</th>
		<th>Media Guid</th>
		<th>Name</th>
		<th>Filetype</th>
		<th>Deleted</th>
		<th>Deletiontime</th>
	  </tr>

	<% @mediafiles.each do |m| %>
	  <tr>
		<td><%= m.dagr_guid %> </td>
		<td><%= m.media_guid %> </td>
		<td><%= m.name %> </td>
		<td><%= m.filetype %> </td>
		<td><%= m.deleted %> </td>
		<td><%= m.deletiontime %> </td>
	  </tr>
	<% end %>
	</table>
	</div>
</div>
